body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column; /* Arranges child elements in a column layout using flexbox. */
    background-color: #000000;
    color: #ffffff;
}

header {
    background-color: rgb(0, 0, 0);
    font-family: "Rubik Mono One", monospace;
    padding: 10px 10px;
}

nav {
    text-align: right; /* Align the navigation bar to the right */
}

nav ul {
    list-style-type: none; /* Remove bullet points from the list */
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block; /* Display list items horizontally */
    margin-left: 20px; /* Add space between each list item */
}

nav ul li:first-child {
    margin-left: 0; /* Remove margin from the first list item */
}

nav ul li a {
    color: rgb(10, 40, 123); /* Set text color for the links */
    text-decoration: none; /* Remove underline from the links */
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #6d088b; /* Change text color on hover */
}

.container { /* Centers child elements horizontally and vertically. */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Makes the container take up the full viewport height. */
}

.location {
    position: relative; /* Positions the elements relative to their normal position. */
    margin: 20px; /* Adds margin around the location elements. */
}

.location img {
    width: 800px; /* Sets the dimensions of the images. */
    height: 500px;
    cursor: pointer;
    transition: transform 0.3s; /* Adds a smooth transition effect when scaling the images. */
}

.location img:hover {
    transform: scale(1.05); /* Styles applied to images on hover. */
}

.bubble-container {
    position: absolute; /* Positions the containers relative to their closest positioned ancestor. */
    /* Positions the containers relative to their containing block. */
    top: 90%;
    right: -150px;
    /* Sets the width and padding of the containers. */
    width: 150px;
    padding: 5x;
    border-radius: 15px; /* Rounds the corners of the containers. */
    transform: translateY(-50%); /* Moves the containers vertically. */
    opacity: 0; /* Makes the containers invisible. */
    transition: opacity 0.3s, right 0.3s; /* Adds smooth transitions for opacity and right position. */
}

.bubble-container.show { /* Makes the containers visible and positions them to the right. */
    opacity: 1;
    right: 50px;
}

.bubble {
    position: relative;
    padding: 5px;
    text-align: center;
    border-radius: 25px;
    max-width: 400px;
}

footer {
    background-color: black;
    color: blue;
    text-align: center;
    padding: 20px;
}

.p3{
    font-family: "Architects Daughter", cursive;
    font-weight: 400;
    font-style: normal;
    color: blue;
}   
